$enable-gradients: true;
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";

html, body, #root, .main, .application {
    width: 100%;
    height: 100%;
}

// main page
.main {
    background: rgb(195,147,34);
    background: linear-gradient(96deg, rgb(195, 100, 21) 0%, rgb(255, 58, 83) 100%);
}

.panel {
    height: 60%;
    width: 25%;
    margin: auto;
    position: relative;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 4px 3px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 14px 1px rgba(0,0,0,0.75);

    .validation-warning {
        padding-top: 10px;
    }
}

.user-handler {
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-bottom {
        flex-grow: 1;

        p {
            padding-top: 5vh;
            span:hover {
                cursor: pointer;
            }
        }
    }
}

// application page
.application {

    &-nav {
        background: rgb(222,113,62);
        background: linear-gradient(58deg, rgba(222,113,62,0.9668242296918768) 31%, rgba(214,176,87,1) 100%);
        font-family: Dialog;
    }

    a, a:visited {
        text-decoration: none;
        color: darkblue;
    }

    &-list {
        width: 30%;
        height: 65%;
        margin: auto;
        margin-top: 50px;

        table {
            width: 80%;
            margin: auto;

            tr {
                :nth-child(1) {
                    width: 90%;
                }
                :nth-child(2) {
                    font-size: 18px;
                    text-align: center;
                    i {
                        color: darkcyan;
                        cursor: pointer;
                    }
                }
                :nth-child(3) {
                    font-size: 18px;
                    text-align: center;
                    i {
                        transition: color 0.4s;
                    }
                    i:hover {
                        cursor: pointer;
                        color: orangered;
                    }
                }
            }
        }

        &-content {
            height: 100%;
            width: 100%;
            border: {
                left: #dee2e6 solid 1px;
                right: #dee2e6 solid 1px;
                bottom: #dee2e6 solid 1px;
            };
        }
    }

    &-additem {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}

//utils

.color-orangered {
    color: orangered !important;
}

.bgcolor-orangered {
    background-color: orangered !important;
}

.btn-orangered-outlined {
    background-color: white;
    color: orangered;
    border-color: orangered;
    transition: background-color 0.3s;
}

.btn-orangered-outlined:hover {
    background-color: orangered;
    color: white;
    border-color: orangered;
}

.modal {
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #c9c9c9;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: orangered;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ae1018;
    }
}
